.header-container{
    background-color: #2D2D2D;
    width: 100%;
    height: 155px;

    display: flex;
}

.header-container{
    img {
        width: 164px;
        height: 81.85px;
        margin-top: 17px;
        margin-left: 56px;
        margin-top: 20px;
    }
}