.search-container {
    
    display: flex;
    align-items: center;
    justify-content: center;    

    
    input {
        width: 800px;
        height: 48px;
        padding-left: 70px;
        font-size: 22px;
        font-weight: 400;
        border-radius: 10px;
        border: 1px solid #B7B7B7;

        background-image: url("../../../public/Vector.png");
        background-repeat: no-repeat;
        background-position-y: center ;
        background-position-x: 2%;
        background-size: 20px;
    }

}