@use "../../sass/mixins" as *;

.home-container {
    background-color: #2b2929;
}

.home-container {
    button {
        @include main-button;
    }

    a {
        text-decoration: none;
        color: #2b2929;
    }
}